{{ define "content" }}
    <div class="container pt-4">
        {{ with .Resources.GetMatch "16x9/recipe.jpg" }}
            <img src="{{ .RelPermalink }}" alt="Lead image for recipe" class="rounded mx-auto d-block img-fluid">
        {{ end }}
        <div class="row pt-4 pb-2">
            <div class="col text-center">
                <h1 class="display-1">{{ .Title }}</h1>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col text-center">
                {{ with .GetTerms "categories" }}
                    <div class="btn-group btn-group-lg" role="group" aria-label="Categories">
                        {{ range . }}
                            <a role="button" href="{{ .RelPermalink }}" class="btn btn-dark">{{ .LinkTitle }}</a>
                        {{ end }}
                    </div>
                {{ end }}
                {{ with .GetTerms "cuisines" }}
                    <div class="btn-group btn-group-lg" role="group" aria-label="Cuisines">
                        {{ range . }}
                            <a role="button" href="{{ .RelPermalink }}" class="btn btn-dark">{{ .LinkTitle }}</a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
        <div class="row pb-4">
            <div class="col text-center">
                {{ with .GetTerms "tags" }}
                    <div class="btn-group" role="group" aria-label="Tags">
                        {{ range . }}
                            <a role="button" href="{{ .RelPermalink }}" class="btn btn-light">{{ .LinkTitle }}</a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 pb-4">
            <div class="col">
                <div class="card border-secondary">
                    <h4 class="card-header text-bg-secondary">{{ .Summary }}</h4>
                    {{ with .Content }}
                        <div class="card-body card-content">
                            {{ . }}
                        </div>
                    {{ end }}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Yield: {{ .Params.yield }}
                        </li>
                        <li class="list-group-item">
                            Prep time: <span data-format-duration="true">{{ .Params.prepTime }}</span>
                        </li>
                        <li class="list-group-item">
                            Cook time: <span data-format-duration="true">{{ .Params.cookTime }}</span>
                        </li>
                        {{ with  .OutputFormats.Get "cooking" }}
                        <li class="list-group-item">
                            <a class="btn btn-success text-light" href="{{ .RelPermalink }}" role="button">Cook Now</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 pb-4">
            <div class="col text-center">
                {{ with .GetTerms "equipment" }}
                    <div class="btn-group" role="group" aria-label="Equipment">
                        {{ range . }}
                            {{ $image := resources.GetMatch (printf "images/%s" .Params.icon) }}
                            {{ $image = $image.Fit "80x80" }}
                            <a role="button" href="{{ .RelPermalink }}" class="btn btn-light">
                                {{ with $image }}
                                    <img src="{{ .RelPermalink }}">
                                {{ end }}
                                {{ .LinkTitle }}
                            </a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 pb-4">
            <div class="col">
                <div class="card text-bg-primary">
                    <h4 class="card-header">Ingredients</h4>
                    <ul class="list-group list-group-flush">
                        {{ $categorizedIngredients := slice }}
                        {{ range $.Site.Params.ingredient_categories }}
                            {{ range $key, $label := . }}
                                {{ $ingredients := (index $.Page.Params $key) }}
                                {{ range $.Page.Params.auto_ingredients }}
                                    {{ if in (index $.Site.Params.auto_categorized_ingredients $key) . }}
                                        {{ $ingredients = $ingredients | append . }}
                                        {{ $categorizedIngredients = $categorizedIngredients | append . }}
                                    {{ end }}
                                {{ end }}
                                {{ partial "ingredient-category.html" (dict "categoryName" $label "ingredients" $ingredients "ingredientLabels" $.Page.Params.ingredient_labels "pageTitle" $.Page.Title) }}
                            {{ end }}
                        {{ end }}
                        {{ range $.Page.Params.auto_ingredients }}
                            {{ if not (in $categorizedIngredients .) }}
                                {{ errorf "Auto categorization not found for ingredient %s in recipe %s" . $.Page.Title }}
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ with .Params.instructions }}
            <div class="col">
                <div class="card text-bg-primary">
                    <h4 class="card-header">Instructions</h4>
                    <ul class="list-group list-group-flush">
                        {{ range . }}
                            <li class="list-group-item">
                                <h5 class="text-primary">{{ .section_name }}</h5>
                                <ul class="list-group list-group-flush">
                                    {{ range .steps }}
                                        <li class="list-group-item">
                                            {{ with .name }}<p class="lead">{{ . }}</p>{{ end }}
                                            {{ $.Page.RenderString .text }}
                                            {{ with .image }}
                                                {{ $image := $.Page.Resources.GetMatch (. | printf "16x9/%s") }}
                                                {{ $image = $image.Fill "1120x630" }}
                                                <div class="mt-2 mx-5">
                                                    <img src="{{ $image.RelPermalink }}" alt="Completed recipe step" class="img-fluid rounded">
                                                </div>
                                            {{ end }}
                                        </li>
                                    {{ end }}
                                </ul>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}
{{ define "structuredData" }}
    {{ if .Params.googleReady }}
        <script type="application/ld+json">
            {{ $images := slice }}
            {{ with .Resources.GetMatch "1x1/recipe.jpg" }}{{ $images = $images | append .Permalink }}{{ end }}
            {{ with .Resources.GetMatch "4x3/recipe.jpg" }}{{ $images = $images | append .Permalink }}{{ end }}
            {{ with .Resources.GetMatch "16x9/recipe.jpg" }}{{ $images = $images | append .Permalink }}{{ end }}
            {{ $ingredients := slice }}
            {{ range $.Site.Params.ingredient_categories }}
                {{ range $key, $label := . }}
                    {{ if and (index $.Page.Params $key) (ge (len (index $.Page.Params $key)) 1) }}
                        {{ $ingredients = $ingredients | append (index $.Page.Params $key) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $instructions := slice }}
            {{ range .Params.instructions }}
                {{ $sectionSteps := slice }}
                {{ range .steps }}
                    {{ $sectionSteps = $sectionSteps | append (dict "@type" "HowToStep" "text" .text) }}
                {{ end }}
                {{ $instructions = $instructions | append (dict "@type" "HowToSection" "name" .section_name "itemListElement" $sectionSteps) }}
            {{ end }}
            {{ $data := dict
                    "@context" "https://schema.org"
                    "@type" "Recipe"
                    "name" .Title
                    "image" $images
                    "author" (dict "@type" "Person" "name" "Michael Taylor")
                    "datePublished"  .Date
                    "description" .Summary
                    "recipeIngredient" $ingredients
                    "recipeInstructions" $instructions
                    }}
            {{ jsonify $data | safeJS }}

        </script>
    {{ end }}
{{ end }}
