{{ define "content" }}
    <div class="d-block d-xxl-none">
        <p>Cooking view is designed for large screens only.</p>
        {{ with  $.Page.OutputFormats.Get "html" }}
            <a class="btn btn-primary" href="{{ .RelPermalink }}" role="button" aria-label="Close">Go back to recipe</a>
        {{ end }}
    </div>
    <div id="directionsCarousel" class="carousel text-bg-primary slide min-vh-100 w-100 d-none d-xxl-block" data-bs-ride="false" data-bs-config='{"interval":31536000000}'>
        <div class="carousel-indicators">
            {{ $slideNumber := 0 }}
            {{ range .Params.instructions }}
                {{ range .steps }}
                    <button
                            type="button"
                            data-bs-target="#directionsCarousel"
                            data-bs-slide-to="{{ $slideNumber }}"
                            {{ safeHTMLAttr (cond (eq $slideNumber 0) "class=\"active\"" "") }}
                            {{ safeHTMLAttr (cond (eq $slideNumber 0) "aria-current=\"true\"" "") }}
                            aria-label="Slide {{ add 1 $slideNumber }}">
                    </button>
                    {{ $slideNumber = add 1 $slideNumber}}
                {{ end }}
            {{ end }}
        </div>
        <div class="carousel-inner carousel-non-image-content">
            {{ range $sectionIndex, $section := .Params.instructions }}
                {{ range $stepIndex, $step := $section.steps }}
                    <div class="carousel-item h-100 {{ cond (and (eq $sectionIndex 0) (eq $stepIndex 0)) "active" "" }}">
                        <div class="h-100 d-flex flex-column">
                            <div class="h-25 d-flex flex-row justify-content-between border-bottom pb-2">
                                <div>
                                    {{ with $section.section_name }}<p class="text-truncate lead fs-2 pb-1 mb-0">{{ . }}</p>{{ end }}
                                    {{ with $step.name }}<p class="text-truncate lead fs-2 pb-1 mb-0">{{ . }}</p>{{ end }}
                                </div>
                                {{ with $step.image }}
                                    <div style="aspect-ratio: 1.7778;">
                                        {{ $image := $.Page.Resources.GetMatch (. | printf "16x9/%s") }}
                                            <img src="{{ $image.RelPermalink }}" alt="Completed step" class="img-fluid rounded">
                                    </div>
                                {{ end }}
                            </div>
                            <div class="row flex-grow-1 gx-1">
                                <div class="col-7 d-flex flex-column justify-content-between">
                                    <p class="fs-3 mb-0">{{ $step.text | markdownify }}</p>
                                    <div>
                                        {{ range $step.background }}
                                            <div class="alert alert-secondary fs-5 lh-sm mb-0 mt-2 py-2">{{ index $.Page.Params.background_tasks . }}</div>
                                        {{ end }}
                                        <div class="bottom-spacer"></div>
                                    </div>
                                </div>
                                <div class="col-5 d-flex flex-column justify-content-start">
                                    {{ $ingredients := $.Page.Params }}
                                    {{ with $section.ingredient_section }}
                                        {{ $ingredients = (index $.Page.Params .) }}
                                    {{ end }}
                                    {{ with $step.ingredients }}
                                        <ul class="list-group pt-2">
                                            {{ range . }}
                                                {{ if not (isset $ingredients.ingredient_labels .) }}
                                                    {{ errorf "No label found for ingredient %s in recipe %s" . $.Page.Title }}
                                                {{ end }}
                                                <li class="list-group-item list-group-item-primary text-truncate fs-5">{{ index $ingredients.ingredient_labels . }}</li>
                                            {{ end }}
                                        </ul>
                                    {{ end }}
                                    <div class="bottom-spacer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#directionsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#directionsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        {{ with  $.Page.OutputFormats.Get "html" }}
            <div class="exit-button">
                <a class="btn btn-close position-absolute top-50 start-50 translate-middle text-bg-secondary" href="{{ .RelPermalink }}" role="button" aria-label="Close"></a>
            </div>
        {{ end }}
    </div>
{{ end }}
