$primary: #25445c;
$secondary: #fdcd90;
$dark: #3d3741;
$light: #f4edeb;
$white: #f9f9ff;

$carousel-control-width: 5%;

$font-size-root: 2.2rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

//
// Custom styles
//

.carousel-non-image-content {
  width: (100% - 2 * $carousel-control-width);
  height: 100vh;
  left: $carousel-control-width;
}

.carousel-indicators {
  margin-bottom: 0;
}

.bottom-spacer {
  height: $carousel-indicator-height + 2 * $carousel-indicator-hit-area-height;
}

.exit-button {
  position: fixed;
  top: 0;
  right: 0;
  width: $carousel-control-width;
  aspect-ratio: 1;
  z-index: $zindex-fixed;
}
