$primary: #25445c;
$secondary: #fdcd90;
$dark: #3d3741;
$light: #f4edeb;
$white: #f9f9ff;

@import "../../node_modules/bootstrap/scss/bootstrap";

//
// Custom styles
//

.card-content p:last-child {
  margin-bottom: 0;
}

.card.text-bg-primary .card-header-tabs .nav-link {
  color: var(--bs-card-cap-color);
}

.card.text-bg-primary .card-header-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
}
