{{ $params := . }}
<div class="card mb-4 text-bg-primary">
    {{ partial "ingredient-list-header.html" (dict "title" .title "alternatives" .alternatives) }}
    {{ if .alternatives }}
        {{ $nav_id := printf "nav-%s" (anchorize .title) }}
        {{ $nav_content_id := printf "nav-%s-content" (anchorize .title) }}
        <div class="tab-content" id="{{ $nav_content_id }}">
            {{ range $index, $alternative_section_name := .alternatives }}
                {{ $nav_tab_id := printf "%s-tab-%s" $nav_id (anchorize $alternative_section_name) }}
                {{ $nav_content_id := printf "%s-content-%s" $nav_id (anchorize $alternative_section_name) }}
                <div
                        class="tab-pane {{ if eq $index 0 }}show active{{ end }}"
                        id="{{ $nav_content_id }}"
                        role="tabpanel"
                        aria-labelledby="{{ $nav_tab_id }}"
                        tabindex="{{ $index }}">
                    {{ partial "ingredient-list-all-categories.html" (merge $params (dict "ingredient_information" (index $params.page_params $alternative_section_name))) }}
                </div>
            {{ end }}
        </div>
    {{ else }}
        {{ partial "ingredient-list-all-categories.html" $params }}
    {{ end }}
</div>