{{ define "content" }}
<div class="container pt-4">
    {{ if eq .Kind "taxonomy" }}
    <div class="row">
        <div class="col">
            <h1>Browse Recipes by {{ humanize .Data.Singular }}</h1>
        </div>
    </div>
    <div class="row pb-4">
        <div class="accordion" id="{{ .Data.Singular }}-accordion">
            {{ range .Pages }}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ $.Data.Singular }}-{{ anchorize .Title }}-accordion"
                            aria-controls="{{ $.Data.Singular }}-{{ anchorize .Title }}-accordion"
                    >
                        {{ .Title }}
                    </button>
                </h2>
                <div
                        id="{{ $.Data.Singular }}-{{ anchorize .Title }}-accordion"
                        class="accordion-collapse collapse"
                        aria-labelledby="{{ $.Data.Singular }}-{{ anchorize .Title }}-accordion"
                        data-bs-parent="#{{ $.Data.Singular }}-accordion"
                >
                    <div class="accordion-body">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-md-3">
                                {{ range (first 5 .Pages) }}
                                {{ partial "recipecard.html" . }}
                                {{ end }}
                                <div class="col mb-4">
                                    <div class="card h-100">
                                        <h4 class="card-header">
                                            &nbsp;
                                        </h4>
                                        {{ $image := resources.GetMatch "images/noun-book-5062702.png" }}
                                        {{ $image := $image.Fit "800x600" }}
                                        {{ with $image }}
                                        <img src="{{ .RelPermalink }}" alt="More recipes">
                                        {{ end }}
                                        <div class="card-body">
                                            <div class="d-grid gap-2">
                                                <a href="{{ .RelPermalink }}" class="btn btn-lg btn-outline-primary stretched-link">See more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ else if eq .Kind "term" }}
    <div class="row">
        <div class="col">
            <h4 class="pb-2">
                {{ if eq .Data.Singular "tag" }}
                Recipes Tagged {{ .Data.Term }}
                {{ else }}
                {{ .Data.Term }} Recipes
                {{ end }}
            </h4>
        </div>
    </div>
    {{ partial "paginatedrecipecards.html" (.Paginate .Pages 6) }}
    <div class="row">
        <div class="col">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}